

<!-- Section 1 -->

<div id="le_concept" class="content">
  <h1>Bientôt, réserver vos artistes de rue préférés </br> pour vos événements privés</h1>
</div>

<div id="les_artistes">
    <div class="jumbotron">  
    <div class="container">

  <h2>Découvrez nos artistes</h2>
 
 <div class="cardholder">
  <div class="card">
    <%=image_tag "artstreethome_home.jpg"%>

    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>    
</div>

</div>
</div>
</div>

<div id="la_carte">
    <div class="jumbotron"> 
    <div class="container">
  <h2>La carte Art Street Home</h2>
  <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1A1kkdBTsznOvfiq3EXVXD3htBrkXvqid" class="embed-responsive-item"></iframe>
</div>
</div>
</div>

