<footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2 class="logo"><a href="#"><%= image_tag(("1.png"), :width => 200, :height => 200) %> </a></h2>
                </div>
                <div class="col-sm-9 center">
                    <h3>Le projet vous intérèsse, suivez nous dès à présent sur les réseaux sociaux </h3>
                    <div class="social_networks">
                    <a href="https://www.facebook.com/artstreethome"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/artstreethome"><i class="fa fa-instagram"></i></a>
                </div>
                </div>

            </div>
        </div>

 
        <div class="footer-copyright">
            <p>© Concocté avec amour par l'équipe Art Street Home </p>
        </div>
    </footer>